Options +FollowSymlinks
RewriteEngine On

RewriteRule ^(storage/|cache/|lib/) - [F,L,NC]

RewriteRule ^api/up$ php/up.php [L]
RewriteRule ^api/auth$ php/auth.php [L]
RewriteRule ^api/hist$ php/hist.php [L]
RewriteRule ^api/thumb$ php/thumb.php [L]
RewriteRule ^api/del$ php/del.php [L]

RewriteRule ^register php/register.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)\.([a-z0-9]+)$ php/get.php?f=$2&x=$3&k=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^thumb/([a-z0-9]+)/([a-z0-9]+)\.(.*)$ php/thumb.php?f=$2&k=$1 [L]

RewriteCond %{REQUEST_URI} !=/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ 404.txt [G]