Options +FollowSymlinks
RewriteEngine On

RewriteRule ^api/(.*)$ php/$1.php [L]

#RewriteCond %{HTTPS} off
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)\.([a-z0-9]+)$ php/get.php?f=$2&x=$3&k=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^thumb/([a-z0-9]+)/([a-z0-9]+)\.(.*)$ php/thumb.php?f=$2&k=$1 [L]

RewriteCond %{REQUEST_URI} !=/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ 404.txt [G]

RewriteRule ^puush.sqlite3$ 404.txt [G]